- title("Subs Disaster")

- @subs.each do |sub|
  .well
    %paper-card{:heading => "#{sub.title}"}
      .card-content
        = sub.description
      .card-actions
        = link_to disaster_path(sub) do
          %paper-button
            Show
