= content_tag_for(:li, conversation, class: "list-group-item") do |conversation|
  = link_to conversation.subject, conversation_path(conversation), class:"list-group-item"

  - if conversation.is_completely_trashed?(current_user)
    = button_to untrash_conversation_path(conversation), method: :post, class:"btn btn-default" do
      %i.fa.fa-trash-o
      Untrash
  - else
    = button_to trash_conversation_path(conversation), method: :post, class:"btn btn-danger" do
      %i.fa.fa-trash
      Move to trash