- title("Mail")
%div.well
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          %i.fa.fa-inbox.fa-lg
          Inbox
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        %ul.list-group= render collection: mailbox.inbox, partial: 'conversation'
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          %i.fa.fa-paper-plane-o.fa-lg
          Sentbox
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        %ul.list-group= render collection: mailbox.sentbox, partial: 'conversation'
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          %i.fa.fa-trash-o.fa-lg
          Trash
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        %ul.list-group= render collection: mailbox.trash, partial: 'conversation'
  = link_to :new_conversation, class:"btn btn-primary" do
    %i.fa.fa-envelope
    Start Conversation
-#= link_to 'Start Conversation', :new_conversation
