<dom-module id="sp-chat-list">
    <link rel="stylesheet" href="sp-chat-list.css"/>
    <template>
        <section class="user-list" layout horizontal>
            <div flex>
                <div class="username">{{username}}</div>
                <div class="text">{{text}}</div>
            </div>
        </section>

    </template>

    <script src="sp-chat-list.js"></script>
</dom-module>
