- title("Subs")

- @subs.each do |sub|
  .well
    %paper-card{:heading => "#{sub.title}"}
      .card-content
        = sub.description
      .card-actions
        = link_to sub_path(sub) do
          %paper-button
            Show
        - if user_signed_in?
          - if sub.moderator_id == current_user.id
            = link_to edit_sub_path(sub) do
              %paper-button
                Edit
            = link_to sub, :method => :delete, :data => { :confirm => 'Are you sure?' } do
              %paper-button
                Destroy

.well
  = link_to new_sub_path do
    %paper-button{:raised => ""}
      New Sub
