- title(@sub.title)

= link_to subs_path, class:"btn btn-default" do
  %i.fa.fa-arrow-left
  Back

- if user_signed_in?
  - if @sub.moderator_id == current_user.id
    = link_to edit_sub_path(@sub), class:"btn btn-default" do
      %i.fa.fa-edit
      Edit

- @sub.posts.each do |post|
  .well
    %paper-card{:heading => "#{post.title}"}
      .card-content
        = post.content
      .card-actions
        - unless post.url.nil?
          = link_to post.url do
            %paper-button
              Media
        = link_to post_path(post) do
          %paper-button
            Discussion

.well
  = link_to new_post_path(sub_id: @sub) do
    %paper-button{:raised => ""}
      New Post