- title("Front Page")
- @posts.each do |post|
  .well
    %paper-card{:heading => "#{post.title}"}
      .card-content
        = post.content
      .card-actions
        = link_to post.url do
          %paper-button
            Media
        = link_to post_path(post) do
          %paper-button
            Discussion
        - if user_signed_in?
          - if post.submitter_id == current_user.id
            = link_to edit_post_path(post) do
              %paper-button
                Edit
            = link_to post, :method => :delete, :data => { :confirm => 'Are you sure?' } do
              %paper-button
                Destroy
      .card-actions
        - if post.sub.has_attribute?(:disaster => true)
          = link_to disaster_path(post.sub) do
            %paper-button
              = post.sub.title
        - else
          = link_to sub_path(post.sub) do
            %paper-button
              = post.sub.title