- title(@post.title)

- if @post.sub.has_attribute?(:disaster => true)
  = link_to disasters_path(@post.sub), class:"btn btn-default" do
    %i.fa.fa-arrow-left
      Back
- else
  = link_to sub_path(@post.sub), class:"btn btn-default" do
    %i.fa.fa-arrow-left
      Back

- if user_signed_in?
  - if @post.submitter_id == current_user.id
    = link_to edit_post_path(@post), class:"btn btn-default" do
      %i.fa.fa-edit
      Edit

- @post.comments.each do |comment|
  %div.well
    %sp-chat-list{username: comment.submitter.username,
                  text: comment.content}
    - if user_signed_in?
      - if comment.submitter_id == current_user.id
        = link_to 'Edit Comment', edit_comment_path(comment)
    = link_to 'Reply', new_comment_path(post_id: @post, parent_comment_id: comment.id)

.well
  = link_to new_comment_path(post_id: @post) do
    %paper-button{:raised => ""}
      New Comment