/*
 *= require_self
 */
@import "bootstrap-sprockets";

// Override Variables here
@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300);
$font-family-sans-serif: 'Oxygen', sans-serif !default;
$body-bg:               #efefef !default;

@import "bootswatch/paper/variables";
@import "bootstrap";

// Paper (Material) theme
@import "bootswatch/paper/bootswatch";

@import "custom";

// Font Awesome
@import "font-awesome-sprockets";
@import "font-awesome";