- if !user_signed_in?
  %paper-item
    = link_to new_user_session_path do
      %i.fa.fa-sign-in.fa-lg
      Log in
  %paper-item
    = link_to new_user_registration_path do
      %i.fa.fa-user-plus.fa-lg
      Sign up
- else
  %paper-item
    = link_to edit_user_registration_path do
      %i.fa.fa-edit.fa-lg
      Edit my account
  %paper-item
    = link_to destroy_user_session_path, data:{method: :delete} do
      %i.fa.fa-sign-out.fa-lg
      Sign out
  %paper-item
    = link_to conversations_path do
      %i.fa.fa-inbox.fa-lg
      Inbox

%paper-item
  = link_to subs_path do
    %i.fa.fa-comments-o.fa-lg
    Subs
%paper-item
  = link_to disasters_path do
    %i.fa.fa-exclamation-triangle.fa-lg
    Disasters
%paper-item
  = link_to about_path do
    %i.fa.fa-info-circle.fa-lg
    About