!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, minimum-scale=1.0, initial-scale=1", name: "viewport"}/
    %title= @title || "Sour Plum"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = html_import_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.fullbleed.vertical.layout
    %paper-drawer-panel.flex
      %paper-header-panel{:mode => "scroll", :drawer => ""}
        %paper-toolbar.tall#navheader
          %iron-image#coverimage.fit{:placeholder => image_url("beach.jpg"), :preload => "", :fade => "", :sizing => "cover"}
          - if !user_signed_in?
            %img.middle.profile{:src => image_url("avatar.png")}
          - else
            = image_tag avatar_url(current_user), class: "middle profile"
          %div.bottom.layout.vertical
            - if !user_signed_in?
              %span Anon
            - else
              %span
                = current_user.username
              %span
                = current_user.email
        = render 'layouts/navigation'
      %paper-header-panel{:main => ""}
        %paper-toolbar
          %paper-icon-button{:icon => "menu", 'paper-drawer-toggle' => ""}
          %span.title.indent
            = @title
        = yield
